transformers
torch
scikit-learn
pandas
sentence-transformers
faiss-cpu
matplotlib
seaborn
langchain
langchain-community
python-dotenv
google-generativeai
langchain-huggingface
streamlit
psycopg2-binary
prefect
psycopg2-binary
SQLAlchemy
pgvector
numpy